// start .sBlog
.sBlog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlog

.blog-card {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	min-height: 100%;
	background: #FFFFFF;
  border: 1px solid $teal-400;
	border-radius: 30px;
	overflow: hidden;
	position: relative;
  padding: rem(24);
  &:hover {
    .title {
      color: $teal-400;
    }
  }

	&__img-wrap {
    position: relative;
		height: rem(228);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: rem(24);
    img {
      z-index: 1;
    }
	}

  &__wrap {
    padding: 0 rem(12);
  }
  &__title {
    font-size: rem(24);
    line-height: 133%;
    margin-bottom: rem(36);
    color: $teal-600;
    @include mt;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}