mixin sBrands(data)
	// start sBrands
	+b.SECTION.sBrands.bg-green.section#sBrands&attributes(attributes)
		.container
			+img('img/svg/clouds-title.svg').clouds
			+img('img/svg/sBrands-l.svg').brands-img.brands-l
			+img('img/svg/sBrands-r.svg').brands-img.brands-r
			+sectionTitle('Brends')
			+e.grid
				- for (let x = 1; x < 16; x++)
					+brandItem(x)

	// end sBrands

mixin brandItem(i)
	+b.brand-item(href='#')
		+img(src=`img/sBrand-${i}.png`, alt="")