// start .sBrands
.sBrands {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    --sPB: #{rem(126)};
  }
  @include media-breakpoint-up(xl) {
    --sTPB: #{rem(90)};
  }

	&__grid {
    gap: rem(10);
    @include media-breakpoint-up(md) {
      gap: var(--bs-gutter-x);
    }

    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(6,1fr);
    }
  }

  .brand-item {
    @include media-breakpoint-down(sm) {
      &:nth-child(5n - 4) {
        // grid-row: span 2;
        grid-column: span 2;
      }
    }

    @include media-breakpoint-up(sm) {
      &:nth-child(1) {
        grid-row: span 2;
        grid-column: span 2;
      }
      &:nth-child(7) {
        grid-row: 1/ span 2;
        grid-column: span 2 /-1;
      }
      &:nth-child(11) {
        grid-row: 3/span 2;
        grid-column: 3/span 2;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .brands-img {
    position: absolute;
    top: calc(-1 * var(--sPT));
  }
  .brands-l {
    right: 90%;
    @include media-breakpoint-up(md) {
      right: 103%;
    }
  }
  .brands-r {
    left: 59%;
    @include media-breakpoint-up(md) {
      left: 82%;
    }
  }

	.clouds {
    position: absolute;
    top: calc(-1 * var(--sPT));
    left: -14px;
    z-index: -1;
    transform: translateY(-10%);
    @include media-breakpoint-down(md) {
      max-width: rem(300);
      left: -30px;
      transform: translateY(-20%);
    }

  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBrands

.brand-item {
  position: relative;
  
  background: white;
  border-radius: 50%;
  @include block(1,1);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
  }

  &:hover {
    box-shadow: $box-shadow;
  }
}