mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+img(`img/svg/catalog-l.svg`).catalog-bg.catalog-l
			+img(`img/svg/catalog-r.svg`).catalog-bg.catalog-r
			+e.top
				+e.top-btns
					+e.btn.btn.btn-secondary(href='#') New
					+e.btn.btn(href='#') Bestsellers
					+e.btn.btn(href='#') Best prices
					+img(`img/svg/girl.svg`).girl

			+e.row.row
				- const wrapClass="col-sm-6 col-lg-4 col-xl-3"
				+e.col(class= wrapClass)
					+product-item(`1`,`Baby carriage Baby carriage`, 5, `€100`,`€90`) 
				+e.col(class= wrapClass)
					+product-item(`2`,`Smart Owl`, 4, `€100`) 
				+e.col(class= wrapClass)
					+product-item(`3`,`Baby monitor`, 4, `€100`) 
				+e.col(class= wrapClass)
					+product-item(`4`,`Baby carriage`, 5, `€100`,`€90`) 
				+e.col.col-sm-6.col-lg-8.col-xl-6.col-large
					+product-item(`5`,`Sport truck`, 4, `€100`) 
				+e.col(class= wrapClass)
					+product-item(`6`,`Baby kitchen`, 4, `€1000`,`€900`) 
				+e.col(class= wrapClass)
					+product-item(`7`,`Mini Mouse`, 4, `€100`) 

	// end sCatalog