// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(80)};
  }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
  .container {
    position: relative;
  }

  .catalog-bg {
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .catalog-l {
    right: 100%;
  }
  .catalog-r {
    left: 104%;
  }

	&__top {
    padding: rem(42) 0;
    position: relative;
    margin-bottom: rem(40);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(80);
    }

    &:before {
      content: '';
      position: absolute;
      width: 200vw;
      height: 100%;
      top: 0;
      left: -100vw;
      background: $teal-400;
      z-index: -1;
    }

    .girl {
      position: absolute;
      bottom: 100%;
      right: 10%;
      @include media-breakpoint-up(md) {
        right: rem(100);
      }
    }
	}

	&__top-btns {
    background: $white;
    border-radius: $border-radius;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(md) {
      border-radius: 320px;
      grid-template-columns: repeat(3,1fr);
    }

    .btn:not(.btn-secondary) {
      color: $teal-400;
      letter-spacing: 0.04em;
      @include media-breakpoint-up(lg) {
        font-size: rem(28);
      }
    }
    .btn-secondary {
      font-weight: 700;
      letter-spacing: 0.03em;
      box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.15);
      @include media-breakpoint-up(lg) {
        font-size: rem(36);
      }
    }
	}

  .btn {
    --bs-btn-padding-x: #{rem(10)};
    border: none;
  }

  &__col .product-item {
    &__img-wrap {
    }
  }

  &__col.col-large .product-item {
    &__img-wrap {
      margin: auto;
      @include media-breakpoint-up(lg) {
        @include block(1, 2);
      }
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

