mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.ls-6.fw-700
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							.d-lg-none.mb-10: +navLk
							.d-lg-none.mb-10: +search()
							.d-lg-none.mb-10: +navUser
							+mnu()
							+menu-toggle().d-lg-none
	// end top-nav
