 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
    opacity: .5;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: 1;
      color: $white;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block {
	position: relative;
	input {
    box-shadow: inset 0 4px 4px 0 rgba(52, 100, 102, 0.4);
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(40);
		padding-top: rem(8);
		padding-bottom: rem(6);
    border-radius: 320px;
	}
	.icon{
		font-size: rem(24);
		border: none !important;
	}
	button{
		position: absolute;
		left: 8px;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}

  &--subscr {
    .icon {
      fill: $teal-600;
    }

    input {
      padding-left: rem(54);
    }

    button{
      left: 14px;
    }

    input::-webkit-input-placeholder {
      opacity: .6;
      letter-spacing: 0.07em;
      // font-size: 14px;
    }
  }
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}
.breadcrumb-slider--js {
	margin-bottom: rem(2);
	.breadcrumb-item {
		width: auto;
		margin-right: rem(6);
		a {
		font-size: rem(14);
      opacity: .38;
			color: $body-color;
      letter-spacing: 0.07em;
		}
		&:hover a{
			opacity: 1;
		}
	}
	ol {
		padding-left: 0;
    margin-bottom: 0;
	}
}


.breadcrumb-item+.breadcrumb-item:before {
	content: url("data:image/svg+xml,%3Csvg width='7' height='17' viewBox='0 0 7 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39801 9.33008V10.4081H0.812012V9.33008H6.39801Z' fill='%239E9E9E' /%3E%3C/svg%3E");
	margin-right: rem(8);
  transform: translateY(2px);
  display: inline-block;
}


.nav-user {
  width: max-content;
  display: inline-block;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: rem(24);
    margin-bottom: 0;
  }
  li.active {
    position: relative;
    .nav-user__price {
      display: inline-block;
    }

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;

      position: absolute;
      top: 4px;
      left: 18px;

      background: $yellow-500;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
  }

  &__price {
    display: none;
    margin-left: rem(8);
    transform: translateY(3px);
  }
}

.nav-lk {
  &__btns {
    display: inline-block;
    border-radius: 20px;
    background: $white;
    margin-left: rem(12);
  }

  &__lk {
    display: inline-block;
  }

  &__btn {
    line-height: 1.12;
    @include media-breakpoint-down(md) {
      font-size: rem(14);
    }
  }

  .link {
    color: $primary;
    padding-left: rem(8);
    padding-right: rem(20);
  }
}

.section-title {
  &.title-icon {
    @include media-breakpoint-up(md) {
      margin-left: rem(46);
    }
    a {
      display: flex;
      gap: rem(32);
      align-items: center;
      width: max-content;
      color: $white;
    }
    h2 {
      letter-spacing: 0.03em;
    }
  }

  &__icon-wrap {
    background: $secondary;
    border-radius: 100%;
    --icon-w: 42px;
    @include media-breakpoint-up(md) {
      --icon-w: 52px;
    }
    width: var(--icon-w);
    height: var(--icon-w);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2px);
    box-shadow: 1px 1px 2px 0 rgba(55, 84, 170, 0.2);

    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: calc(100% + 18px);
      height: calc(100% + 18px);
      border-radius: 100%;
      border: 1px solid $secondary;
      opacity: 0;
      @include mt;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  a:hover {
    .section-title__icon-wrap:before {
      opacity: 1;
    }
  }
}

.links-card {
  &__links-wr {
    display: flex;
    @include mt;
  }

  .link-item {
    display: inline-block;
    padding: rem(4);
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent;
    color: $white;
    @include mt;
    &:hover {
      color: $yellow-300;
    }
  }
}

.range-wrap {
  .title {
    color: $gray-700;
    font-size: rem(14);
    span {
      color: $teal-600;
    }
  }

  &__row {
    // width: calc(100% - 20px);
    margin: auto;
    margin-bottom: rem(10);
    margin-top: rem(-10);
    --bs-gutter-x: #{rem(0)};
  }

  .form-group {
		position: relative;

		input{
			position: relative;
			z-index: 1;
			padding: rem(7) rem(12);
      padding-left: rem(50);

			line-height: 1.5;
			text-align: right;
			color: #9E9E9E;
      font-size: 14px;

			border-width: 2px;
      border-color: transparent;
      border-radius: 3px;
      text-align: start;
      &:focus {
        border-color: $teal-600;
      }
		}

		&:before {
			content: attr(data-ph);
			position: absolute;
			z-index: 2;
			pointer-events: none;
			left: rem(12);
			top: 0;
			height: 100%;
			// width: 15px;
      font-size: 14px;
      letter-spacing: 0.07em;
			color: $gray-700;
			font-size: $small;

			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
  .irs--round .irs-line {
    height: 2px;
  }

  .irs--round .irs-bar {
    height: 3px;
  }
  .irs--round .irs-handle {
    border: 2px solid $teal-600;
  }

}

.irs--round .irs-to,
.irs--round .irs-from {
	font-weight: 500;
	font-size: 11px;
	line-height: 110%;
	top: 17px;
	letter-spacing: 0.02em;
	color: $teal-200;
	background-color: transparent;
	&::before {
		content: none;
	}
}

.irs--round .irs-from {
	left: -5px;
}

.irs--round .irs-bar {
	top: 8px;
	background-color: $teal-600;
  height: 2px;
  cursor: pointer;
}
.irs--round {
	height: 20px;
}
.irs--round .irs-line {
	top: 8px;
	background-color: $teal-200;
  height: 2px;
  cursor: pointer;
}

.irs--round .irs-handle {
	top: 3px;
	width: 12px;
	height: 12px;
	border: 1px solid $teal-200;
	background-color: white;
	border-radius: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
  background-color: $teal-600;
  border-color: $teal-600;
  cursor: pointer;
}



.product-item {
  cursor: pointer;

	display: flex;
	flex-direction: column;

	min-height: 100%;
	background: #FFFFFF; 
	border: 1px solid $teal-200;
  --border-r: 20px;
	border-radius: var(--border-r);
	overflow: hidden;
	position: relative;

  --pad-card: 16px;
  padding: rem(20) var(--pad-card);
  padding-bottom: rem(60);

	&__img-wrap {
		margin-bottom: rem(3) !important;
    max-width: 90%;
    margin: auto;
    height: 240px;
    @include block(1, 1);
	}

  --wrap-pad: 12px;
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: var(--wrap-pad);
	}

  .new {
    color: $purple;
  }

  .left-line {
    position: relative;

    &:before {
      content: '';
      border-radius: 0 2px 2px 0;
      width: 4px;
      height: 19px;
      background: $purple;
      position: absolute;
      top: 1px;
      left: calc(-1 * (var(--pad-card) ));
    }
  }

  &__top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(14);
  }

  .link-item {
    color: $teal-200;
    &:hover {
      color: $teal-300;
    }
    &:active {
      color: $teal-400;
    }
  }

  @include mt;
  &:hover {
    box-shadow: var(--card-hover);
  }

  &__title {
    margin-bottom: rem(8);
    line-height: 133%;
    @include media-breakpoint-up(lg) {
      font-size: rem(18);
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88px;
    --bs-btn-padding-y: #{rem(18)};
    --bs-btn-padding-x: #{rem(10)};
    border: none;

    border-radius: var(--border-r) 0 var(--border-r) 0;
  }

  &__price {
    color: $teal-600;
    font-size: 20px;
  }
  .price_old {
    opacity: 0.5;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    text-decoration: line-through;
    display: inline;
  }
  span {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0px 8px;
    background: $purple;
    color: $white;
    margin-left: rem(10);
    transform: translateY(-4px);
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      transform: translateY(0);
    }
  }
  .icon-star {
    margin-left: rem(-1.5);
  }

  &__rew-wrap {
    display: flex;
    align-items: center;
    gap: rem(17);
  }

  &__msg {
    color: $teal-300;
    margin-top: rem(4);
    // display: inline-block;
    .icon {
      margin-right: rem(8);
    }
  }

  &__price-wr {
    position: absolute;
    bottom: 14px;
    left: calc(var(--wrap-pad) + var(--pad-card));
  }

  .links-card {
    transform: translate(4px, -4px);
  }
}

.icon-star {
  opacity: .3;
  fill: $teal-600;
}

@for $n from 1 through 5 {
  .reviews__stars[data-star="#{$n}"] {
    .icon-star:nth-child(-n + #{$n}) {
      opacity: 1;
    }
  }
}


@for $n from 1 through 5 {
  .reviews__stars[data-star="#{$n}"] {
    svg:nth-child(-n + #{$n}) {
      opacity: .4;
    }
  }
}

ul.page-numbers {
  display: flex;
  gap: rem(10);
  justify-content: center;
  list-style-type: none;
  @include media-breakpoint-up(md) {
    gap: rem(20);
  }
  .page-numbers:not(.current) {
    color: $gray-700;
  }
  .page-numbers.current {
    color: white !important;
    background: $primary !important;
    border-color: $primary !important;
  }
  .page-numbers {
    --num-w: 32px;
    width: var(--num-w);
    height: var(--num-w);
    @include media-breakpoint-up(md) {
      --num-w: 48px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 50px;
    border: 1px solid $gray-200;
    @include mt;
    @include media-breakpoint-down(md) {
      font-size: rem(14);
    }

    &:hover {
      // color: $black;
      color: $teal-700 !important;
      background-color: $teal-100;
      border-color: $teal-100;
    }
  }
  .next, .prev {
    background-color: $teal-100;
    border-color: $teal-100;
    @include media-breakpoint-up(md) {
      margin-left: rem(10);
      margin-right: rem(10);
    }
    .icon {
      color: $teal-600;
      font-size: rem(14);
      @include media-breakpoint-up(md) {
        font-size: rem(18);
      }
    }

    &:hover {
      box-shadow: 0 4px 10px 0 rgba(163, 230, 232, 0.4);
    }
  }
}