 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
    opacity: .5;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: 1;
      color: $white;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block {
	position: relative;
	input {
    box-shadow: inset 0 4px 4px 0 rgba(52, 100, 102, 0.4);
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(40);
		padding-top: rem(8);
		padding-bottom: rem(6);
    border-radius: 320px;
	}
	.icon{
		font-size: rem(24);
		border: none !important;
	}
	button{
		position: absolute;
		left: 8px;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}

  &--subscr {
    .icon {
      fill: $teal-600;
    }

    input {
      padding-left: rem(54);
    }

    button{
      left: 14px;
    }

    input::-webkit-input-placeholder {
      opacity: .6;
      letter-spacing: 0.07em;
      // font-size: 14px;
    }
  }
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}

.nav-user {
  width: max-content;
  display: inline-block;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: rem(24);
    margin-bottom: 0;
  }
  li.active {
    position: relative;
    .nav-user__price {
      display: inline-block;
    }

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;

      position: absolute;
      top: 4px;
      left: 18px;

      background: $yellow-500;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
  }

  &__price {
    display: none;
    margin-left: rem(8);
    transform: translateY(3px);
  }
}

.nav-lk {
  &__btns {
    display: inline-block;
    border-radius: 20px;
    background: $white;
    margin-left: rem(12);
  }

  &__lk {
    display: inline-block;
  }

  &__btn {
    line-height: 1.12;
    @include media-breakpoint-down(md) {
      font-size: rem(14);
    }
  }

  .link {
    color: $primary;
    padding-left: rem(8);
    padding-right: rem(20);
  }
}