
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
			li: +b.toggle-menu-mobile--js
				span

//- menu